body {
  background-color: #00B7FF;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  width: 100vw;
  background-color: #00B7FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.col {
  margin-top: 20px;
  width: 200px;
  height: 100%;
}

.degreeCard {
  width: 100%;
  height: 220px;
  background-color: white;
}

.noClicksCard {
  width: 100%;
  height: 120px;
  background-color: white;
  margin-top: 30px;
}

.exportXMLCard {
  width: 100%;
  background-color: white;
  height: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
}

.dropdownCard {
  width: 100%;
  background-color: white;
  height: 100px;
}

.mapCard {
  width: 100%;
  background-color: white;
  height: 300px;
  margin-top: 20px;
}

.distanceCard {
  width: 100%;
  background-color: white;
  height: 100px;
  margin-top: 20px;
}

.timeCard {
  width: 100%;
  background-color: white;
  height: 80px;
}

.timeCard2 {
  width: 100%;
  background-color: white;
  height: 80px;
  margin-top: 10px;
}

.redditCard {
  width: 100%;
  background-color: white;
  /* height: 300px; */
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.redditMain {
  width: 80%;
  border: 3px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.redditPostedBy {
  color: grey;
  font-size: 10px;
  margin-left: 3px;
}

.redditLink {
  color: red;
  font-size: 10px;
  margin-left: 3px;
  word-wrap: break-word;
}

.redditTitle {
  font-size: 16px;
  margin-left: 3px;
}

.coinCard {
  width: 100%;
  background-color: white;
  height: 200px;
  margin-top: 20px;
}

.uploadCard {
  width: 100%;
  background-color: white;
  height: 180px;
  margin-top: 20px;
}

.tempImg {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.degree {
  width: 100%;
  height: 30%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeCardDesc {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeCardInner {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
}

.distanceDesc {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.distanceInner {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
}

.clickDesc {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickInner {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
}

.exportDesc {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exportBTN {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #2CADF5;
  cursor: pointer;
}